[submodule "vollmed_backend"]
	path = vollmed_backend
	url = https://github.com/carolinedesousasantos/vollmed_backend.git
[submodule "vollmed_frontend"]
	path = vollmed_frontend
	url = https://github.com/carolinedesousasantos/vollmed_frontend.git
